* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#selection-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 370px;
	/* min-height: 326px; */
	border: 1px solid #eeeeee;
	border-radius: 6px;
	padding: 15px 20px;
	background-color: #fff;
	box-shadow: 0px 8px 15px 0px rgba(20, 20, 20, 0.12);

	font-family: 'Montserrat', serif;
	font-optical-sizing: auto;
	font-size: 14px;
	font-weight: 400;
	line-height: 18.2px;
	color: rgba(31, 33, 40, 1);
}
#selection-form-button {
	width: 100%;
	padding: 10px 20px;
	background-color: rgba(255, 206, 34, 1);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: 150ms ease-in-out;
}
#selection-form-button:hover {
	background-color: rgba(255, 216, 77, 1);
}

#selection-form > .form-option {
	display: block;
	position: relative;
	user-select: none;
	padding: 8px 0;
	cursor: pointer;
}
.form-option input {
	height: 0;
	width: 0;
}
.checkmark {
	position: absolute;
	right: 0;
	top: 50%;
	height: 23px;
	width: 23px;
	border: 1px solid rgba(189, 189, 189, 1);
	border-radius: 6px;
	background-color: #ffff;
	transform: translateY(-50%); /* Gurantees its centered vertically */

	transition: 200ms ease-in-out;
}
.form-option .checkmark:after {
	width: 10px;
	height: 10px;
	left: 50%;
	color: white;
	transform: translate(-50%, 0);
	transition: 200ms ease-in-out;
}
.form-option:hover input ~ .checkmark::after {
	visibility: visible;
	color: rgba(135, 135, 135, 1);
}
.form-option input:checked ~ .checkmark {
	background-color: rgba(36, 105, 246, 1);
}
.form-option input:checked ~ .checkmark:after {
	visibility: visible;
}
.form-option:hover input:checked ~ .checkmark {
	background-color: rgba(80, 135, 248, 1);
}
.form-option:hover input:checked ~ .checkmark::after {
	color: #fff;
}

.checkmark:after {
	content: '✓';
	position: absolute;
	visibility: hidden;
}

.selection-form:hover {
	cursor: pointer;
}
.form-footer {
	margin-top: auto;
}
.form-footer > hr {
	margin-bottom: 15px;
}
hr {
	border: 1px solid #eeeeee;
}
